.jcarousel-container {
	padding:0 50px;
}

.product-slide-skin .jcarousel-direction-rtl {
	direction: rtl;
}

.product-slide-skin .jcarousel-container-horizontal {
    width: 222px;
    padding: 10px 30px 0;
}

.product-slide-skin .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.product-slide-skin .jcarousel-clip {
    overflow: hidden;
}

.product-slide-skin .jcarousel-clip-horizontal {
    width:  510px;
    height: 240px;
	margin-left:45px;
}

.product-slide-skin .jcarousel-clip-vertical {
    width:  75px;
    height: 255px;
}

.product-slide-skin .jcarousel-item {
    width: 160px;
    height: 255px;
}

.product-slide-skin .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.product-slide-skin .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.product-slide-skin .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.product-slide-skin .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.product-slide-skin .jcarousel-next-horizontal {
    position: absolute;
    top: 80px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(product-next.png) no-repeat 0 0;
}

.product-slide-skin .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.product-slide-skin .jcarousel-next-horizontal:hover,
.product-slide-skin .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.product-slide-skin .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.product-slide-skin .jcarousel-next-disabled-horizontal,
.product-slide-skin .jcarousel-next-disabled-horizontal:hover,
.product-slide-skin .jcarousel-next-disabled-horizontal:focus,
.product-slide-skin .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.product-slide-skin .jcarousel-prev-horizontal {
    position: absolute;
    top: 80px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(product-prev.png) no-repeat 0 0;
}

.product-slide-skin .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(product-next.png);
}

.product-slide-skin .jcarousel-prev-horizontal:hover, 
.product-slide-skin .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.product-slide-skin .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.product-slide-skin .jcarousel-prev-disabled-horizontal,
.product-slide-skin .jcarousel-prev-disabled-horizontal:hover,
.product-slide-skin .jcarousel-prev-disabled-horizontal:focus,
.product-slide-skin .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.product-slide-skin .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.product-slide-skin .jcarousel-next-vertical:hover,
.product-slide-skin .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.product-slide-skin .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.product-slide-skin .jcarousel-next-disabled-vertical,
.product-slide-skin .jcarousel-next-disabled-vertical:hover,
.product-slide-skin .jcarousel-next-disabled-vertical:focus,
.product-slide-skin .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.product-slide-skin .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.product-slide-skin .jcarousel-prev-vertical:hover,
.product-slide-skin .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.product-slide-skin .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.product-slide-skin .jcarousel-prev-disabled-vertical,
.product-slide-skin .jcarousel-prev-disabled-vertical:hover,
.product-slide-skin .jcarousel-prev-disabled-vertical:focus,
.product-slide-skin .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.product-thumb {
	display:block;
	text-align:center;
	margin:0 auto;
}

.product-name {
	margin:12px 0 0;
	text-align:center;
	display:block;
	color:#303030;
	text-decoration:none;
	font-size:12px;
}

/*New Product Slide*/
#new-products-slide .product-slide-skin .jcarousel-clip-horizontal {
    width:  210px;
    height: 200px;
	margin-left:35px;
	padding-top:35px;
}

#new-products-slide .product-slide-skin .jcarousel-item-horizontal a.product-thumb {
	float:left;
	width:70px;
	display:block;
}

#new-products-slide .product-slide-skin .jcarousel-item-horizontal a.product-thumb img {
	width:70px;
	display:block;
}

#new-products-slide .product-slide-skin .jcarousel-next-horizontal {
	top:90px;
	right:0;
}

#new-products-slide .product-slide-skin .jcarousel-prev-horizontal {
    top: 90px;
    left: 0;
}
