/* #Declare
================================================== */
/*#=== Color Code ===*/
.blue { color:#57b7df; }
.white { color:#fff; }
.cufon-loading h1,
.cufon-loading h2,
.cufon-loading h3,
.cufon-loading p,
.cufon-loading a,
.cufon-loading small { /* for Cufon.replace('h1') */
	visibility: hidden !important;
}

.nivoSlider a.nivo-imageLink
{
	background:white;
	filter: alpha(opacity=0);
	opacity: 0;
}


/* #Tag
================================================== */
input,select,textarea { font-family:Tahoma; font-size:13px; }
h1,h2,h3,h4 { color:#3cc7f4; font-weight:normal; overflow:hidden; }
h1 { font-size:32px; }
h3 { font-size:28px; }
h3 { font-size:24px; }
h4 { font-size:20px; }
p { font-size:14px; line-height:20px; font-family:Tahoma; color:#fff; }
a { text-decoration:none; color:#57b7df; font-family:Tahoma; cursor: pointer !important; }
a:hover { color:#fff; }
body { font-family:Tahoma; }

.item-list h2 > cufon,
.col3 h2 > cufon,
.col3-padding h2 > cufon {
	display:block;
	float:left;
	margin-top:-3px;
}

.item-list h2 > a > cufon,
.col3 h2 > a > cufon,
.col3-padding h2 > a > cufon {
	display:block;
	float:left;
	margin-top:-3px;
}

/* #Class
================================================== */
.clear {
	display:block;
	height:0;
	clear:both;
	content:".";
	visibility:hidden;
}

.button {
	display:block;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	text-indent:-9999px;
	outline:none;
}

input.txtForm {
	padding:6px 8px;
	border:1px solid #3c647a;
	color:#636363;
}

textarea {
	padding:6px 8px;
	border:1px solid #3c647a;

}

.alignleft { float:left; }
.alignright { float:right; }
img.aligncenter { display:block; margin:auto; }
.readmore {
	padding:4px 0;
	color:#fff;
	font-family:Tahoma;
	background:#00aeef;
	font-size:12px;
	border:1px solid #5294a5;
	margin-top:15px;
	display:block;
	float:left;
	text-align:center;
	width:70px;
	height:20px;
}
.readmore:hover {
	background:#00a0dc;
}

.blue-button {
	padding:4px 8px;
	color:#fff;
	font-family:Tahoma;
	background:#00aeef;
	font-size:12px;
	border:1px solid #5294a5;
	display:block;
}

.blue-button.aligncenter {
	width: 150px;
	margin: auto;
	text-align: center;
}

.line {
	height:2px;
	margin:15px 0;
	background:url(../images/separator.png) 0 0 repeat-x;
}

.post-thumbnail {
	background:url(../images/post-thumbnail-bg.jpg) 0 0 repeat;
}

a.img-thumb { display: block; overflow: hidden; }
a.img-thumb img { max-width:180px; display: block; }

.view-privilege {
	width: 247px;
	height: 46px;
	background:url(../images/view-privilege.png) 0 0 no-repeat;
	display: block;
	margin: auto;
	text-indent: -9999px;
	margin-top: 5px;
}

/* #Column - No Padding
================================================== */
.col1 { width:730px; }
.col3 { width:226px; }

/* #Column - Padding Sidebar
================================================== */
#left-sidebar .col3-padding,
#right-sidebar .col3-padding  {
	width:180px;
	padding:20px 23px;
	margin-bottom:23px;
	overflow:hidden;
	font-size:14px;
	line-height:20px;
	font-family:Tahoma;
	color:#fff;
}

#left-sidebar .col3,
#right-sidebar .col3  {
	width:226px;
	margin-bottom:23px;
	overflow:hidden;
	font-size:14px;
	line-height:20px;
	font-family:Tahoma;
	color:#fff;
}

.bluecard-banner  {
	width: 228px;
	height: 384px;
	background:url(../images/right_banner.jpg) 0 0 no-repeat!important;
}

.bluecard-banner a.term-1 {
	width: 182px;
	height: 30px;
	display: block;
	position: absolute;
	top: 295px;
	left: 24px;
	z-index: 5;
}

.bluecard-banner a.term-2 {
	width: 182px;
	height: 30px;
	display: block;
	position: absolute;
	top: 333px;
	left: 24px;
	z-index: 5;
}

/* #Column - Padding Center Content
================================================== */
#center-content .col2 { width:504px; float:left; }
#center-content .col3  {
	width:202px;
	padding:12px;
	background:#595a59;
	float:left;
}

/* #Wrapper
================================================== */
#wrapper { width:1230px; margin:0 auto; }

/* #Header
================================================== */
#header {
	width:1230px;
	height:227px;
	background:url(../images/bg_header.jpg) 0 0 no-repeat;
}

#header #logo {
	width:218px;
	height:206px;
	margin-left:32px;
	display:block;
	float:left;
}

/* #Header - Search Form + Login
================================================== */
#header #top-header {
	width:454px;
	height:65px;
	margin-right:32px;
	float:right;
}

/* #Header - Search Form
================================================== */
#header #top-header #searchform {
	width:237px;
	height:48px;
	float:left;
	padding:17px 0 0 22px;
	position:relative;
	background:url(../images/bg_topHeader.png) 0 0 repeat;
}

#header #top-header #searchform label { display:none; }
#header #top-header #searchform input#s {
	width:173px;
	padding:6px 35px 6px 8px;
	border:1px solid #3c647a;
}

#header #top-header #searchform input#searchsubmit {
	width:30px;
	height:27px;
	display:block;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	background: url(../images/icon_search.png) 0 0 no-repeat;
	top:2px;
	right:20px;
}

/* #Header - Social Toolbox
================================================== */
#header #top-header #toolbox-wrapper {
	width:195px;
	height:65px;
	float:right;
}

#header #top-header #toolbox-wrapper #toolbox {
	height:25px;
	padding:3px;
	background:url(../images/bg_topHeader_blue.png) 0 0 repeat-x;
}

#header #top-header #toolbox-wrapper #toolbox a {  }
#header #top-header #toolbox-wrapper #toolbox a.icon {
	float:left;
	margin:0 9px;
	display:block;
}

#header #top-header #toolbox-wrapper #toolbox a#font-small { font-size:11px; margin-left:8px; }
#header #top-header #toolbox-wrapper #toolbox a#font-medium { font-size:15px; margin:0 15px; }
#header #top-header #toolbox-wrapper #toolbox a#font-large { font-size:20px; }

#toolbox a#font-small.active,
#toolbox a#font-medium.active,
#toolbox a#font-large.active {
	color:#fff;
}
/* #Header - Login Toolbox
================================================== */
#header #top-header #toolbox-wrapper #login {
	height:28px;
	padding-top:6px;
	background:url(../images/bg_topHeader_darkest.png) 0 0 repeat;
}

#login-finish{ color:#fff; }
#header #top-header #toolbox-wrapper #login ul li {
	width:65px;
	float:left;
	padding-left:30px;
	background:url(../images/login-bullet.png) 8px 4px no-repeat;
	position:relative;
}

#header #top-header #toolbox-wrapper #login ul li:first-child {
	border-right:1px solid #3e617f;
}

#header #top-header #toolbox-wrapper #login ul li a {
	font-size:24px;
	line-height:10px;
	margin-top:-3px;
	display:block;
}

#header #top-header #toolbox-wrapper #login ul li a.active { color:#fff; }
/*Logged in*/
#header #top-header #toolbox-wrapper #login ul li#username {
	width:135px;
	font-size:12px;
	height:20px;
	line-height:20px;
	color:#fff;
	overflow:hidden;
}

#header #top-header #toolbox-wrapper #login a#logout {
	width:16px;
	height:16px;
	display:block;
	background:url(../images/logout.png) 0 0 no-repeat;
	text-transform:uppercase;
	text-indent:-9999px;
	outline:none;
	float:right;
	margin:3px 5px 0 0;
}


/* #Header - Login Form
================================================== */
#header #top-header #toolbox-wrapper #login #login-form {
	width:175px;
	height:110px;
	background:url(../images/bg_topHeader_darkest.png) 0 0 repeat;
	position:absolute;
	top:24px;
	left:0;
	padding:10px;
	display:none;
}

#header #top-header #toolbox-wrapper #login #login-form input.txtForm { width:157px; margin-bottom:10px; }
#header #top-header #toolbox-wrapper #login #login-form #forgot-password { font-size:20px; float:right;}
#header #top-header #toolbox-wrapper #login #login-form #btn-login {
	width:79px;
	height:24px;
	float:left;
	background:url(../images/btn-login.png) 0 0 no-repeat;
}

/* #Main Menu
================================================== */
#main-menu {
	background:#3b4b66;
	height:57px;
	position:relative;
	z-index:1000;
}

#main-menu > ul > li {
	float:left;
	display:block;
	position:relative;
}

#main-menu > ul > li > a {
	width:206px;
	outline:none;
	display:block;
	padding-top:5px;
	background:url(../images/nav-bg.png) 0 0 no-repeat;
	padding-left:40px;
	height:52px;
}
/*
#main-menu > ul > li > a#home {
	width:170px;
	background:url(../images/nav-home-bg.png) 0 0 no-repeat;
}

#main-menu > ul > li > a#lifestyle {
	width:250px;
	background:url(../images/nav-lifestyle-bg.png) 0 0 no-repeat;
}

#main-menu > ul > li > a#contact-us {
	width:200px;
	background:url(../images/nav-contact-bg.png) 0 0 no-repeat;
}
*/
#main-menu > ul > li > a:hover { background-position:0 -57px; }

#main-menu > ul > li > a > h2 {
	color:#fff;
	font-size:38px;
	display:block;
	line-height:30px;
	margin-top:-8px;
}

#main-menu > ul > li > a > p {
	color:#57b7df;
	font-size:20px;
	display:block;
	line-height:10px;
	margin-top:-3px;
}

#main-menu > ul > li > .dropdown {
	width:800px;
	display:none;
	height:45px;
	position:absolute;
	top:57px;
	left:0;
	z-index:9999;
}

#main-menu > ul > li:hover > .dropdown {
	display:block;
}

#main-menu > ul > li > .blue-privilege-dropdown {
	width: 1300px;
	left:-490px;
/*	width: 825px;
	left:-75px;*/
}

.dropdown > li { float:left; }
.dropdown > li a {
	height:45px;
	outline:none;
	display:block;
	background:url(../images/dropdown-bullet.png) 0 15px no-repeat;
	padding:5px 0 0 15px;
	color:#57b7df;
	font-size:22px;
	margin-right:15px;
/*	font-size:25px;
	margin-right:30px;*/
}

.dropdown > li a:hover { color:#fff; }
#dropdown-wrapper {
	width:1230px;
	height:45px;
	position:relative;
	z-index:1;
}

/* #Page Breadcrumb
================================================== */
.breadcrumbs {
	margin-top:-24px;
	padding:0 0 10px 250px;
	font-size:13px;
	position:relative;
	z-index:1;
	color:#57B7DF;
}

.breadcrumbs a { color:#fff; }

/* #Content
================================================== */
#content-wrapper { }

/* #Content - Left Sidebar
================================================== */
#left-sidebar {
	width:226px;
	float:left;
	margin-right:23px;
}

#left-sidebar .col3,
#left-sidebar .col3-padding { background:#595a59; }

#left-sidebar .col3-padding h2 {
	font-size:35px;
	font-weight:normal;
	line-height:15px;
	margin:-10px 0 0;
	display:block;
	color:#3cc7f4;
}

#left-sidebar .col3-padding small {
	font-size:20px;
	font-weight:normal;
	line-height:15px;
	margin:-3px 0 15px;
	display:block;
	color:#fff;
}

#left-sidebar .col3-padding a.img-thumb {
	width: 181px;
	height: 171px;
	overflow: hidden;
	border:1px solid #808280;
	display:block;
	margin:20px 0 0;
}

#left-sidebar .col3-padding a.title {
	font-size:28px;
	color:#57B7DF;
	line-height:20px;
	margin:7px 0;
	display:block;
}

#left-sidebar .col3-padding a.title:hover { /*color:#fff;*/ }

#left-sidebar #related-website li {
	padding:10px 0;
	background:url(../images/separator.png) top left no-repeat;
}

#left-sidebar #related-website li a {
	color:#fff;
	font-size:25px;
	display:block;
}

#left-sidebar #bluecard-menu {
	background:#2f302f;
	padding:10px;
	margin-bottom:23px;
	border:10px solid #595a59;
}

#left-sidebar #bluecard-menu li {
	border-bottom:1px solid #4e4f4e;
}

#left-sidebar #bluecard-menu li:last-child {
	border:none;
	margin:0;
	padding:0;
}

#left-sidebar #bluecard-menu li a {
	font-size:12px;
	color: #A3A5A3;
    display: block;
    font-weight: bold;
    height: auto;
    padding: 8px 0 8px 25px;
	background:url(../images/bullet.png) 10px 12px no-repeat;
	line-height:16px;
}

#left-sidebar #bluecard-menu li a:hover,
#left-sidebar #bluecard-menu li.current_page_item {
	background-color:#3e617f;
}

#left-sidebar #bluecard-menu li#menu-item-685 a {
	padding-right:40px;
}

#left-sidebar form#newsletter-form input {
	margin:10px 0 0;
}

#left-sidebar .facebook-box { height:302px; }
#left-sidebar .twitter-box { height:450px; }

#left-sidebar h2.news-event-title {
	margin:15px 0 10px;
}

#left-sidebar h2.news-event-title a {
	font-size:28px;
}

#left-sidebar h2.news-event-title cufon {
	float: none;
}

/* #Right Sidebar
================================================== */
#right-sidebar .col3-padding h2 {
	font-size:35px;
	font-weight:normal;
	line-height:15px;
	margin:-10px 0 0;
	display:block;
	color:#3cc7f4;
}

#right-sidebar h2.news-event-title {
	margin:15px 0 10px;
}

#right-sidebar h2.news-event-title a {
	font-size:28px;
}

#right-sidebar h2.news-event-title a:hover {
	color:#fff;
}

#right-sidebar .col3-padding small {
	font-size:19px;
	font-weight:normal;
	line-height:15px;
	margin:-3x 0 15px;
	display:block;
	color:#fff;
}

#right-sidebar .line {
	background:url(../images/sidebar-right-separator.png) 0 0 repeat-x;
}

#right-sidebar .col3-padding img {
	max-width:180px;
}

/* #Content - Center Content
================================================== */
#center-content {
	width:730px;
	float:left;
}

#center-content #main-content-slide {
	height:385px;
}

#center-content #main-content-slide #slider {
	height:385px;
}

#center-content #main-content-slide .nivo-controlNav {
	position:absolute;
	bottom:7px;
	left:40%;
}

#center-content #mr-blue {
	width:178px;
	height:168px;
	float:left;
	padding:205px 24px 12px;
	background:url(../images/mr-blue-bg.png) top center no-repeat;
	overflow:hidden;
}

#center-content #mr-blue p {
	line-height:20px;
	font-size:14px
}

#center-content #masonry-content {
	width:755px;
	margin-top:23px;
	margin-bottom: 10px;
}

#masonry-content .col3 {
	margin:0 20px 23px 0;
	font-size:14px;
	line-height:20px;
	font-family:Tahoma;
	color:#fff;
}

#masonry-content .col3:hover {
	background:#474747;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

#masonry-content .col3 a.readmore-detail {
	color:#57b7df;
	/*display:block;
	text-align:right;
	margin-top:5px;
	outline:none;
	float:right;
	width:55px;*/
}

#masonry-content .col3 a.readmore-detail:hover {
	color:#fff;
	text-decoration:underline;
	outline:none;
}

#masonry-content .col3 h2 {
	margin:15px 0 10px;
	display:block;
	overflow:hidden;
}

#masonry-content .col3 h2 a {
	font-size:28px;
	font-weight:normal;
	line-height:10px;
	display:block;
	color:#57b7df;
}

#masonry-content .col3 h2 a:hover {
	color:#57b7df;
}

#masonry-content .col3 > img,
#masonry-content .col3 > a > img,
#masonry-content .col3 > .post-thumbnail > img,
#masonry-content .col3 > .post-thumbnail > a > img {
	max-width:200px;
	border:1px solid #808280;
	display:block;
	margin:0 auto;
	text-align:center;
}

#masonry-content .col3 .line {
	width:203px;
	height:2px;
	margin:15px 0;
	background:url(../images/separator.png) 0 0 no-repeat;
}

#masonry-content .col3 .like {
	width:80px;
	height:20px;
	float:left;
	overflow:hidden;
}

#masonry-content .col3 .comment {
	width:80px;
	height:20px;
	padding-top:3px;
	float:right;
}

#masonry-content .col3 .comment > a {
	width:auto;
	height:20px;
	text-align:right;
	padding-right:25px;
	font-size:12px;
	outline:none;
	font-family:Tahoma;
	background:url(../images/icon_comment.png) right 2px no-repeat;
	float:right;
	color:#fff;
}

#masonry-content .col3 .badge,
#related-content .col3 .badge {
	width:88px;
	height:29px;
	/*display:block;*/
	display:none;
	position:absolute;
	top:12px;
	left:12px;
	z-index:10;
}

.badge.hangout {
	background:url(../images/badge-hangout.png) 0 0 no-repeat;
}

.badge.gadget {
	background:url(../images/badge-gadget.png) 0 0 no-repeat;
}

/* #Content - Right Sidebar
================================================== */
#right-sidebar {
	width:226px;
	float:right;
}

#right-sidebar iframe {
	width:226px;
}

#right-sidebar .col3,
#right-sidebar .col3-padding {
	background:#3b4b65;
}

#redeem-item {

}

#redeem-item .viewall,
#privilege-item .viewall,
#promotion-item .viewall {
	padding-right:18px;
	background:url(../images/viewall-bullet.png) center right no-repeat;
	float:right;
	font-size:12px;
	font-weight:bold;
}

#redeem-item .item-list,
#privilege-item .item-list,
#promotion-item .item-list {
	margin:20px 0;
	position:relative;
	background:url(../images/sidebar-right-separator.png) left bottom repeat-x;
	padding-bottom:20px;
}

#redeem-item .item-list h2,
#privilege-item .item-list h2{
	font-size:28px;
	line-height:25px;
	margin:10px 0;
}

#promotion-item .item-list h2 {
	font-size:24px;
	line-height:25px;
	margin:10px 0;
}

#redeem-item .item-list .btn-redeem {
	width:185px;
	height:30px;
	background:url(../images/btn-redeem.png) 0 0 no-repeat;
	display:block;
	margin:20px 0 0;
	font-weight:bold;
	padding-top:8px;
}

#redeem-item .item-list .redeem-badge .item-detail {
	width:75px;
	float:left;
	text-align:center;
	margin:0;
	padding:0;
	line-height:18px;
	font-size:11px;
	color:#fff;
}

#redeem-item .item-list .btn-redeem p {
	width:75px;
	float:left;
	text-align:center;
	margin:0;
	padding:0;
	line-height:18px;
	font-size:11px;
	color:#fff;
}

#redeem-item .item-list .btn-redeem a {
	width:80px;
	color:#fff;
	float:right;
	text-align:center;
	line-height:18px;
	font-size:11px;
}

#privilege-item .item-list small {
	margin-bottom:8px;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
}

#privilege-item .item-list .date {
	color:#57b7df;
	font-size:11px;
}

/* #Content - Right Content (2 Column Page)
================================================== */
#right-content,
.right-content-box {
	width:932px;
	float:right;
	padding:24px;
	background:#595A59;
	margin-bottom:23px;
}

#right-content h2,
.right-content-box h2 {
	font-size:35px;
	font-weight:normal;
	line-height:15px;
	padding-bottom:20px;
	margin:-10px 0 15px;
	display:block;
	color:#3cc7f4;
	background:url(../images/separator.png) bottom left repeat-x;
}

#right-content h2 > cufon {
	float:none;
}

#right-content h2 small,
.right-content-box h2 small {
	font-size:20px;
	font-weight:normal;
	color:#fff;
}
#right-content h3,
.right-content-box h3 {
	font-size:28px;
	font-weight:normal;
	line-height:15px;
	margin:0 0 10px;
	padding:0;
	display:block;
	color:#fff;
	background:none;
}

#right-content p,
.right-content-box p {
	color:#d1d3d4;
}

#right-content .line,
.right-content-box .line {
	height:2px;
	margin:15px 0;
	background:url(../images/separator.png) 0 0 repeat-x;
	clear:both;
}


/* #Blue Privilege Page
================================================== */
#blue-privilege {
	width: 730px;
	float: left;
}

#blue-privilege > #masonry-content {
	width:755px;
	min-height: 20px;
	float:left;
}

#blue-privilege-h {
	width:729px;
	padding:10px 0;
	margin-bottom:13px;
	height:20px;
	float:left;
	background:url(../images/separator.png) left bottom repeat-x;
}

#blue-privilege-h .blue-content-h {
	color: #3CC7F4;
    display: block;
    font-size: 28px;
    font-weight: normal;
    line-height: 15px;
    margin: -10px 10px 10px 0;
	float:left;
}

#blue-privilege-h small.blue-content-small {
	color: #fff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 15px;
    margin: -3px 0 15px;
	float:left;
}

#blue-privilege > #masonry-content .col3 {
	margin:0 22px 23px 0;
}

#blue-privilege > #masonry-content .col3 {
	background:#595a59;
	padding:12px;
	width:202px;
	float:left;
}

#blue-privilege > #masonry-content .col3:hover {
	background:#474747;
}

/*#blue-lifestyle > #masonry-content {
	width:1007px;
	float:left;
	//margin-left:23px;
	position:relative;
	margin-right:-27px;
}

#blue-lifestyle-h {
	width:980px;
	padding:10px 0;
	margin-bottom:13px;
	height:20px;
	float:left;
	background:url(../images/separator.png) left bottom repeat-x;
}

#blue-lifestyle-h .blue-content-h {
	color: #3CC7F4;
    display: block;
    font-size: 28px;
    font-weight: normal;
    line-height: 15px;
    margin: -10px 10px 10px 0;
	float:left;
}

#blue-lifestyle-h small.blue-content-small {
	color: #fff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 15px;
    margin: -3px 0 15px;
	float:left;
}

#blue-lifestyle > #masonry-content .col3 {
	margin:0 22px 23px 0;
}

#blue-lifestyle > #masonry-content .col3 {
	background:#595a59;
	padding:12px;
	width:202px;
	float:left;
}

#blue-lifestyle > #masonry-content .col3:hover {
	background:#474747;
}*/

/* #Footer
================================================== */
#footer {
	background:url(../images/bg_footer.jpg) 0 0 no-repeat;
	width:1230px;
	padding-bottom:10px;
	margin-top:30px;
}

#footer .copyright{
	font-size:12px;
	font-weight:700;
	color:#666;
	padding:100px 0 5px 23px;
}

.footerNav{
	padding:10px 0;
}

.footerNav li{
	float:left;
	font-size:12px;
	color:#fff;
	padding:0 0 0 10px;
}

.footerNav li a{
	color:#fff;
	padding:0 10px 0 0;
}

.footerNav li:first-child{
	padding:0 0 0 23px;
}

/* #News & Event Page
================================================== */
.news-list {
	margin:30px 0;
	padding-bottom:30px;
	background:url(../images/separator.png) bottom left repeat-x;
	height:180px;
}

.news-list .news-thumb {
	width:203px;
	float:left;
	margin-right:20px;
}

.news-list .news-detail {
	width:630px;
	float:left;
	overflow:hidden;
	font-size:14px;
	line-height:20px;
	font-family:Tahoma;
	color:#fff;
}

#news-detail ol li {
	list-style-type: decimal;
	color: #d1d3d4;
	margin-left: 25px;
}

.news-list .news-detail a.title {
	font-size:14px;
	color:#57B7DF;
}

.news-list .social-share {
	width:380px;
	height:30px;
	float:left;
	margin-top:40px;
}

.news-list .social-share iframe {
	width:120px;
	float:left;
}

/* #News Detail Page
================================================== */
#news-detail-title,
#comment-wrapper .comment-detail-title {
	text-transform:uppercase;
	margin-bottom:20px;
	padding-bottom:20px;
	background:url(../images/separator.png) bottom left repeat-x;
}

#news-detail-title h3,
#comment-wrapper .comment-detail-title h3 {
	color:#3cc7f4;
	display:block;
	background:#282928;
	padding:10px;
}

#comment-wrapper .comment-detail-title h3 {
	font-size:25px;
}

#news-detail-title #author-detail,
#comment-wrapper .comment-detail-title .user-detail {
	display:block;
	font-family:Tahoma;
	color:#3cc7f4;
	font-size:12px;
}

#news-detail-title #author-detail #author-name,
#comment-wrapper .comment-detail-title .user-detail .username {
	color:#fff;
	padding:5px 0 5px 26px;
	background:url(../images/icon_user.png) left center no-repeat;
	margin-left:10px;
}

article#news-detail {
	padding-bottom:24px;
	background:url(../images/separator.png) bottom left repeat-x;
}

article#news-detail p {
	margin-bottom:10px;
}

article#news-detail strong {
	font-weight:bold;
	color:#3cc7f4;
}

#social-share {
	width:320px;
	height:25px;
	margin-top:10px;
}

#social-share .facebook,
#social-share .twitter {
	float:left;
	width:120px;
}

#social-share .g-plus-one {
	float:left;
	width:80px;
}

/*Comment Section*/
#comment-wrapper {
	width:980px;
	float:right;
}

#comment-wrapper p {
	color:#fff;
}

#comment-wrapper .right-content-box {
	float:none;
}

/*Comment Form*/
#respond {

}

#respond h3#reply-title {
	color:#3cc7f4;
	display:block;
	background:#282928;
	padding:10px 15px;
	font-size:25px;
	text-transform:uppercase;
}

#respond .logged-in-as,
#respond .comment-form-comment label,
#respond .form-allowed-tags { display:none; }

#respond .comment-form-comment {
	padding-bottom:24px;
	margin-bottom:24px;
	background:url(../images/separator.png) bottom left repeat-x;
}

#respond #comment {
	width:890px;
	padding:15px;
	border:6px solid #434343;
}

#respond #submit {
	width:106px;
	height:31px;
	display:block;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	text-indent:-9999px;
	outline:none;
	background:url(../images/btn-comment.png) 0 0 no-repeat;
}

/*Related Content*/
#related-content {
	width:1007px;
	float:right;
	margin:5px -27px 0 0;
}

#related-content .related-content-h {
	color: #3CC7F4;
    display: block;
    font-size: 28px;
    font-weight: normal;
    line-height: 15px;
    margin: -10px 10px 10px 0;
	float:left;
}

#related-content  small {
	color: #fff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 15px;
    margin: -3px 0 15px;
}

#related-content .col3 {
	margin:0 25px 23px 0;
	width:202px;
	padding:12px;
	background:#595a59;
	float:left;
	font-size:14px;
	line-height:20px;
	font-family:Tahoma;
	color:#fff;
}

#related-content .col3:hover {
	background:#474747;
}

#related-content .col3 h2 {
	margin-bottom:10px;
}

#related-content .col3 h2 a {
	font-size:28px;
	font-weight:normal;
	line-height:23px;
	margin:15px 0;
	display:block;
}

#related-content .col3 > img {
	border:1px solid #808280;
	display:block;
	width:200px;
}

#related-content .col3 .line {
	width:203px;
	height:2px;
	margin:15px 0;
	background:url(../images/separator.png) 0 0 no-repeat;
}

#related-content .col3 .like {
	width:80px;
	height:20px;
	float:left;
	overflow:hidden;
}

#related-content .col3 .comment {
	width:80px;
	height:20px;
	padding-top:3px;
	float:right;
}

#related-content .col3 .comment > a {
	width:auto;
	height:20px;
	text-align:right;
	padding-right:25px;
	font-size:12px;
	outline:none;
	font-family:Tahoma;
	background:url(../images/icon_comment.png) right 2px no-repeat;
	float:right;
	color:#fff;
}

/* #Pagination
================================================== */
.wp-pagenavi {
	width:240px;
	margin:0 auto;
	text-align:center;
}

.wp-pagenavi a.page:hover, .wp-pagenavi span.current {
	background:url(../images/pagination-active.png) center 1px no-repeat;
}

.nextpostslink,
.previouspostslink {
	width:9px;
	height:17px;
	text-transform:uppercase;
	text-indent:-9999px;
	display:block;
}

.nextpostslink {
	background:url(../images/next-prev.png) 0 -22px no-repeat;
	float:right;
}

.previouspostslink {
	background:url(../images/next-prev.png) 0 0 no-repeat;
	float:left;
}

/* #Contact us Page
================================================== */
#wpcf7-f26-p23-o1 {
	width:575px;
	height:420px;
	border:15px solid #717371;
	background:#2f302f;
	margin:20px auto 0;
}

#wpcf7-f34-p23-o1 {
	width:575px;
	height:420px;
	border:15px solid #717371;
	background:#2f302f;
	margin:20px auto 0;
}

#contact-form {
	font-size:12px;
	color:#fff;
	font-weight:bold;
	margin:25px auto 0;
}

#contact-form tr td {
	padding:5px;
}

#contact-form .txtForm {
	width:412px;
}

#contact-form #captchaForm {
	width:160px;
}

#contact-form #captchaImg {

}

#contact-form textarea {
	width:412px;
	height:80px;
}

#contact-form #name,
#contact-form #surname {
	width:160px;
}

/* #Search Result
================================================== */
#search-result {

}

#search-result li {
	padding:0 0 15px 35px;
	margin:0 0 15px 28px;
	list-style-type:decimal;
	font-size:26px;
	color:#3cc7f4;
	font-family:Tahoma;
	background:url(../images/separator.png) bottom left repeat-x;
}

#search-result .search-list h4 a {
	font-weight:bold;
	color:#fff;
	font-size:14px;
}

#search-result .search-list .time {
	color:#fff;
	font-size:12px;
	font-weight:bold;
}

#search-result .search-list p {
	color:#fff;
	font-size:12px;
}

/* #Blue Station
================================================== */
#map { background:#282928; padding:5px; }

#map h2 {
	font-size:30px;
	padding:8px 0 8px 36px;
	background:none;
	display:block;
	background:url(../images/icon_search.png) left center no-repeat;
}

#map #google-map {
	float:left;
	width:695px;
	height:475px;
}

#search-station { float:right; width:210px; }
#search-station table tr td {
	padding:5px;
	font-weight:bold;
	color:#fff;
	font-size:12px;
}

#search-station select {
	width:120px;
	padding:3px;
	border:1px solid #3c647a;
}

#search-station #station-result { height:285px; overflow:auto; }
#search-station #station-result .station-list {
	padding-top:15px;
	margin-top:15px;
	border-top:1px solid #484948;
}

#search-station #station-result .station-list p { color:#fff; }
#search-station #station-result .station-list p.station-name { font-weight:bold; }
#search-station #station-result .station-list p strong { color:#57b7df; }
#ptt-product {
	width:522px;
	height:236px;
	background:url(../images/ptt-product-bg.jpg) 0 0 no-repeat;
	padding:25px 20px 0 385px;
}

#service { background:#fff; padding:25px; }
#service #service-logo { width:662px; height:95px; }
#service #service-logo img { display:block; float:left; }

/* #About Blue Card
================================================== */
#right-content.about-blue-card p { font-weight:bold; color:#fff;}
#small-txt-blue-card { font-size:20px; color:#fff;}
#right-content .about-card-h { padding:14px 14px 14px 10px; background:#2f302f url(../images/separator.png) bottom left repeat-x; }
#right-content .about-card-h span { padding-left:30px; background:url(../images/dropdown-bullet.png) left center no-repeat; }

/*LV 1*/
.about-card-ol { margin:0 0 25px; padding:15px 0 0 50px; }
.about-card-ol > li {
	padding:0 0 6px 0;
	margin:0 0 0 28px;
	list-style-type:decimal;
	font-size:13px;
	color:#3cc7f4;
	font-family:Tahoma;
	line-height:18px;
	font-weight:bold;
}

.about-card-ol > li > span {
	color:#fff;
	font-size:13px;
	color:#d1d3d4;
	font-weight:bold;
}

/*LV 2*/
.about-card-ol > li ol > li {
	padding:0;
	margin:8px 0 8px 25px;
	list-style-type:none;
	font-size:13px;
	color:#3cc7f4;
	font-family:Tahoma;
	line-height:18px;
	font-weight:bold;
	text-indent:-11px;
}

.about-card-ol > li ol > li span {
	color:#fff;
	font-size:13px;
	color:#d1d3d4;
	font-weight:bold;
}

/*Member Privilege*/
#member-privilege { width:530px; float:right; }

/*Edit by Mix*/
#news-detail-date{
	display:block;
	font-family:Tahoma;
	color:#3cc7f4;
	font-size:12px;
	padding:10px 0px 5px 0px;
}

/*Sitemap*/
#menu-sitemap > li { color:#57b7df; }
#menu-sitemap > li > a {
	color:#fff;
	font-weight:bold;
	display:block;
	font-size:15px;
	background:#2f302f url(../images/separator.png) bottom left repeat-x;
	padding:10px;
	margin-bottom:10px;
}

#menu-sitemap > li > a:hover { background-color:#3c3c3c; }
#menu-sitemap > li ul.sub-menu { padding-left:15px; margin:0 0 15px 30px; }
#menu-sitemap > li ul.sub-menu li { color:#57b7df; list-style-type:square; }
#menu-sitemap > li ul.sub-menu > li a {
	color:#fff;
	display:block;
	font-size:12px;
	padding:10px;
	font-weight:bold;
}

#menu-sitemap > li ul.sub-menu > li a:hover { text-decoration:underline; }
#menu-sitemap > li ul.sub-menu > li ul.sub-menu { height: 180px; }
#menu-sitemap > li ul.sub-menu > li ul.sub-menu > li {
	list-style-type:square;
	color:#57b7df;
	float:left;
	width:400px;
	margin-right:20px;
}

#menu-sitemap > li ul.sub-menu > li ul.sub-menu > li a {
	list-style-type:square;
	color:#57b7df;
	display:block;
	font-size:12px;
	padding:10px;
}

#menu-sitemap > li ul.sub-menu > li ul.sub-menu > li a:hover { color:#fff; }

/*Infinite Scroll*/
#nav-below { opacity:0; }
#infscr-loading {
	position:absolute;
	bottom:-10px;
	left:40%;
	font-size:13px;
	color:#fff;
	text-align:center;
}

.footerRecommend {
	float: right;
	margin-top: 7px;
	font-size:12px;
}

/*QA*/
.page-id-1374 #right-content p {
	margin-bottom: 18px;
	color: #D1D3D4;
	font-size:13px;
	padding-left: 10px;
	font-weight: normal;
}

.page-id-1374 #right-content p span.question { color: #3CC7F4; font-weight: bold; }
.page-id-1374 #right-content strong { font-size:13px; }
.page-id-1374 #right-content ul { margin-left: 40px; }
.page-id-1374 #right-content ul li {
	list-style-type:disc;
	font-size:13px;
	color: #D1D3D4;
	margin:-10px 0 10px 0;
}

/*gallery*/
#fancybox-close { cursor: pointer !important; }
.btn-download {
	width: 113px;
	height: 31px;
	display: block;
	background:url(../images/btn-download.png) 0 0 no-repeat;
	position: absolute;
	bottom: 10px;
	z-index: 1105;
	left: 0;
}

#content-wrapper .wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	padding: 3px 8px;
	font-family:Tahoma;
	font-size:11px;
	color:#acb0ac;
	border: none;
	margin: 0;
}

#content-wrapper .wp-pagenavi a:hover, #content-wrapper .wp-pagenavi span.current { color:#fff; }
#content-wrapper .wp-pagenavi span.current { font-weight: bold; }

#content-wrapper .wp-pagenavi .nextpostslink,
#content-wrapper .wp-pagenavi .previouspostslink {
	width: 9px;
	padding: 0;
	margin: 2px 0;
}

.view-all-privilege {
	width: 132px;
	height: 28px;
	background:url(../images/view-all-privilege.png) 0 0 no-repeat;
	display: block;
	float: right;
	position: relative;
}

.view-all-privilege:hover { background-position: left bottom; }
.view-all-privilege.top { top: -10px; }
.view-all-privilege.bottom { top: -5px; }

/*Pin Blog*/
.pin-blog {
	width:705px;
	padding:12px 12px 0 12px;
	background:#595a59;
	float:left;
	margin:23px 0 0 0;
	font-size:14px;
	line-height:20px;
	font-family:Tahoma;
	color:#fff;
}

.pin-blog:hover {
	background:#474747;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.pin-blog .column {
	width: 215px;
	float: left;
}

.pin-blog .column img,
.pin-blog .column a > img {
	max-width:213px;
	border:1px solid #808280;
	display:block;
	margin:0 auto 12px;
	text-align:center;
}

.pin-blog .column p { margin: 0 0 12px; }

.pin-blog .blog-col1 {}
.pin-blog .blog-col2 { margin: 0 30px; }
.pin-blog .blog-col3 {}


